

::placeholder {                                            /* notice the use of :: selector */
    color: red;
    opacity: 1;
    visibility: hidden;    /* visibility and color properties will hide placeholder */
    color: transparent;
    /* display: none; */   /* This will NOT hide placeholder */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
}
