/* Reference : https://www.w3schools.com/howto/howto_css_sticky_element.asp */

div.sticky {
    position: -webkit-sticky;
    position: sticky;                   /* stick to the screen when reach scroll position */
    top: 0;
    padding: 50px;
    font-size: 20px;
}