table, th , td  {                                              /* NICE TABLE Style */
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {                                       /*CSS Considers 1 based index*/
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}